body {
   background-image: url(paredeluz.jpg); 
   background-size: cover;/* background-size: cover; -> PARA COBRIR TODA A TELA*/
   background-attachment: fixed; /*DEIXA O BACKGROUND FIXO SEM SE MOVER PELO SCROLL*/
   font-family: 'Raleway', sans-serif;
   color: white;
}
.yellow{
    color:yellow
}
ul{
    color:goldenrod

}
h1{
    
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 100px;
    
}
h2{
    color:blue
    
}
h3{
    font-style: italic;
    color:gold

}
h4{
    color: white
}
.imagem1 {
    width:200px;
    border: 5px groove gray; /* SHORTHAND = VALOR DE WIDTH, STYLE E COLOR (A ORDEM É IMPORTANTE)*/
    border-radius: 50%; /*BORDER PARA DEIXAR A BORDA MAIS ARRENDONDADA, PODE-SE TRABALHAR COM PIXER (px) OU POR PORCENTAGEM (%)
    /* PODE-SE USAR TAMBEM SEPARADAMENTE BORDER CONFORME EXEMPLO ABAIXO, POREM NÃO É MUITO EFICIENTE. AQUI A ORDEM INDIFERE.
    border-width: 5px;
    border-color: gray;
    border-style: groove; */
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 300px;
    /* SHORTHAND = 50px (valor top) 300px (valor right) 100px (valor bottom) 300px (valor left)*/
    padding: 1px; /*MARGEM INTERNA*/
    height: 200px; /*ALTURA*/
    box-shadow: 0px 0px 25px orange; /*SOMBRA --> DISTANCIA SOMBRA HORIZONTAL, DISTANCIA SOMBRA VERTICAL, DESFOQUE SOMBRA E COR*/
}

